<div class="flex min-h-screen">
  <!-- Sidebar -->
  <nav class="w-64 bg-gray-800 text-white p-5 flex flex-col fixed h-full top-0 left-0 z-20">
    <!-- Logo -->
    <div class="flex items-center justify-center mb-6">
      <img src="../../../assets/logo2.png" alt="Logo" class="h-20">
    </div>

    <!-- Supplier Username Display -->
    <div class="text-center text-lg font-semibold text-gray-200 mb-8">
      <p>{{ email }}</p>
    </div>

    <!-- Sidebar Menu -->
    <ul class="space-y-4 flex-1">
      <li>
        <a routerLink="dashboard" routerLinkActive="text-yellow-400 bg-gray-700" class="block px-4 py-2 rounded-md hover:bg-gray-700">
          Tableau de bord
        </a>
      </li>
      <li>
        <a routerLink="products" routerLinkActive="text-yellow-400 bg-gray-700" class="block px-4 py-2 rounded-md hover:bg-gray-700">
          Produits
        </a>
      </li>
    </ul>

    <!-- Log Out Button -->
    <div class="mt-auto text-center">
      <button (click)="logout()" class="w-full bg-red-700 hover:bg-red-800 text-white py-2 rounded-md flex items-center justify-center space-x-2">
        <i class="fas fa-sign-out-alt"></i>
        <span>Deconnexion</span>
      </button>
    </div>

    <!-- Sidebar Footer -->
    <div class="mt-4 text-center text-sm text-gray-500">
      <p>© 2025 Ordex. All rights reserved.</p>
    </div>
  </nav>

  <!-- Main Content Area -->
  <div class="flex-1 bg-gray-100 p-6 ml-64"> <!-- ml-64 pour compenser la largeur de la sidebar (w-64) -->
    <router-outlet></router-outlet>
  </div>
</div>
